body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #C9ECEC;
}

.container {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 20%;
    background-color: #C9ECEC;
    padding: 20px;
}

.main-content {
    width: 60%;
    padding: 20px;
}

.left-image {
    width: 100%;
    height: auto;
    margin-top: 100px; /* adjust this value to move the image down */
}

.right-image {
    width: 100%;
    height: auto;
    margin-top: 100px; /* adjust this value to move the image down */
}

.intro {
    padding: 0;
    position: relative;
}

.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.company-image {
    width: 100%;
    height: auto;
}

section {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

.skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.skills li {
    margin: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

.skills li span {
    font-size: 16px;
    font-weight: bold;
}

.back-to-home {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.back-button:hover {
    background-color: #444;
}