@media only screen and (min-width: 320px) and (max-height: 768px){
  .container {
      width: 92vw;
      height: 90vh;
      background-color: rgba(0, 0, 0, 0.1);
      border: 0.1vw solid #ddd;
      box-shadow: 0 0 1vh rgba(0,0,0,0.5);
      position: absolute;
      top: 53vh;
      left: 50vw;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5vw !important;
    }

    .menu {
      position: absolute;
      top: 2vh; /* Increase the top value to move the menu down */
      left: 50vw;
      transform: translateX(-50%);
      background-image: linear-gradient(to bottom, #B2FFFC, #ffffff);
      display: flex;
      justify-content: center;
      text-align: center;
      gap: 6vw;
      padding: 1vw;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
      z-index: 1;
    }

    .menu-item {
      position: relative;
     transition: transform 0.3s ease-in-out;
     font-size: 4em; /* Increase font size */
  }

    .intro {
      width: 90vw;
      font-size: 3vw;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #33cc33;
      box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
      animation: shining-borders 5s infinite;
     
      
      animation: shining-borders 3s infinite;
      }
      @keyframes shining-borders {
      0% {
      border-color: #33cc33;
      box-shadow: 0 0 5px rgba(152, 255, 152, 0.5);
      }
      50% {
      border-color: #ccffcc;
      box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
      }
      100% {
      border-color: #33cc33;
      box-shadow: 0 0 5px rgba(152, 255, 152, 0.5);
      }
      }

    .icon img {
      width: 3vw;
      height: 3vw;
      mix-blend-mode: multiply;
    }

    .icons {
      position: absolute;
      top: 73vh;
      right: 10vw;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footer {
      position: absolute;
      bottom: 0;
      left: 45%;
      transform: translateX(-50%);
      text-align: center;
      color: #333;
      padding: 1vh;
      width: 50vw;
      font-size: .7vw !important;
      white-space: nowrap;
    }

    .bio-section {
      position: relative;
      top: 10vh;
    }

    .bio-photo {
      position: relative;
      top: 8vh;
      margin: 0 auto;
      width: 30vw !important;
      height: 30vw !important;
      object-fit: cover;
      border-radius: 50%;
       transform: scale(1.5); /* Increase size by 50% */
      box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
      animation: shining-effect 2s infinite;
      }
      @keyframes shining-effect {
      0% {
      box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
      }
      50% {
      box-shadow: 0 0 30px rgba(152, 255, 152, 1);
      }
      100% {
      box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
      }
      }

      .profession {
          position: relative;
          top: 14vh;
          left: 14vw;
          margin: 2vh 0;
          width: 55vw;
          text-align: center;
         font-weight: bold; 
         font-size: 3.5vw !important;
        }

        .bio-paragraph {
          position: relative;
          top: 18vh;
          font-size: 3vw !important;
          margin: 2vh 0;
          width: 85vw;
          text-align: center;
          
        }

        .Portfolio-Section h2{
          position: absolute;
          top: -4vh !important;
          left: 42vw;
          transform: translateX(-50%);
        }

  /********************* PORTFOLIO *********************/
        

  .Portfolio-Section p {
  font-size: 1px !important;
  width: 300px; /* adjust the width to your liking */
  height: 200px; /* adjust the height to your liking */
}

/**folder icon*/

.folder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 98vh;
  left: 72vw;
  transform: translate(-50vw, -50vh);
 
}

.folder-row {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
  
}
   .folder-row a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

.folder-container h5 {
  position: absolute;
  font-size: .1vh !important;
  
  top: -1vh;
  font-weight: 500;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  
  
}

.folder-icon {
  width: 20vw;
  height: auto;
  filter: sepia(100%) hue-rotate(120deg) saturate(50%);
  
    margin-left: 20vw; /* adjust the margin to reposition the icon to the right */
  
  
}

.folder-label {
  position: relative;
  top: -25vw;
 
  font-size: .1vw !important;
  font-weight: 400;
  
  
}

a {
  text-decoration: none;
  color: black;
}

.skills-section {
  position: absolute;
  bottom: 0;
  
  
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1vw;
}



.skills-section ul {
  list-style-type: square;
  position: absolute;
  top: 3.5vh;
  font-size: .5vh;
  
  flex-direction: column;
  left: 3vw;
}

.skills-section li {
  margin-bottom: 2vh;
}

.folder-icon {
  transition: transform 0.2s ease-in-out;
}

.folder-icon:hover {
  transform: scale(1.1);
}



/**folder icon*/

/********************* PORTFOLIO *********************/
        
       
      
       
}
