@media only screen and (min-width: 360px) and (max-width: 768px){
    .container {
        width: 70vw;
        height: 90vh;
        background-color: rgba(0, 0, 0, 0.1);
        border: 0.1vw solid #ddd;
        box-shadow: 0 0 1vh rgba(0,0,0,0.5);
        position: absolute;
        top: 51vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5vw !important;
      }

      .icon img {
        width: 3vw;
        height: 3vw;
        mix-blend-mode: multiply;
      }

      .icons {
        position: absolute;
        top: 76vh;
        right: 18vw;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .footer {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: #333;
        padding: 1vh;
        width: 50vw;
        font-size: 0.5vw !important;
      }
    .bio-photo {
        position: relative;
        top: 10vh;
        margin: 0 auto;
        width: 20vw;
        height: 20vw;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
        animation: shining-effect 2s infinite;
        }
        @keyframes shining-effect {
        0% {
        box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
        }
        50% {
        box-shadow: 0 0 30px rgba(152, 255, 152, 1);
        }
        100% {
        box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
        }
        }
  }
