@media only screen and (min-width: 360px) and (max-width: 768px){
  .container {
      width: 92vw;
      height: 90vh;
      background-color: rgba(0, 0, 0, 0.1);
      border: 0.1vw solid #ddd;
      box-shadow: 0 0 1vh rgba(0,0,0,0.5);
      position: absolute;
      top: 53vh;
      left: 50vw;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5vw !important;
    }

    .menu {
      position: absolute;
      top: 2vh; /* Increase the top value to move the menu down */
      left: 50vw;
      transform: translateX(-50%);
      background-image: linear-gradient(to bottom, #B2FFFC, #ffffff);
      display: flex;
      justify-content: center;
      text-align: center;
      gap: 5vw;
      padding: 1vw;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
      z-index: 1;
    }

    .menu-item {
      position: relative;
     transition: transform 0.3s ease-in-out;
     font-size: 3em; /* Increase font size */
  }

    .intro {
     
      font-size: 2vw;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #33cc33;
      box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
      animation: shining-borders 5s infinite;
      margin: 0; /* Reset margin */
      padding: 0.5em; /* Use em for padding */
      height: fit-content; /* Set height to fit content */
      animation: shining-borders 5s infinite;
      }
      @keyframes shining-borders {
      0% {
      border-color: #33cc33;
      box-shadow: 0 0 5px rgba(152, 255, 152, 0.5);
      }
      50% {
      border-color: #ccffcc;
      box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
      }
      100% {
      border-color: #33cc33;
      box-shadow: 0 0 5px rgba(152, 255, 152, 0.5);
      }
      }

    .icon img {
      width: 3vw;
      height: 3vw;
      mix-blend-mode: multiply;
    }

    .icons {
      position: absolute;
      top: 73vh;
      right: 10vw;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footer {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      color: #333;
      padding: 1vh;
      width: 50vw;
      font-size: 1vw !important;
    }

    .bio-section {
      position: relative;
      top: 10vh;
    }

    .bio-photo {
      position: relative;
      top: 10vh;
      margin: 0 auto;
      width: 23vw !important;
      height: 23vw !important;
      object-fit: cover;
      border-radius: 50%;
       transform: scale(1.5); /* Increase size by 50% */
      box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
      animation: shining-effect 2s infinite;
      }
      @keyframes shining-effect {
      0% {
      box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
      }
      50% {
      box-shadow: 0 0 30px rgba(152, 255, 152, 1);
      }
      100% {
      box-shadow: 0 0 10px rgba(152, 255, 152, 0.9);
      }
      }

      .profession {
          position: relative;
          top: 14vh;
          left: 14vw;
          margin: 2vh 0;
          width: 55vw;
          text-align: center;
         font-weight: bold; 
         font-size: 2.5vw !important;
        }

        .bio-paragraph {
          position: relative;
          top: 18vh;
          font-size: 2.5vw !important;
          margin: 2vh 0;
          width: 85vw;
          text-align: center;
          
        }

        .Portfolio-Section {
          position: absolute;
          top: 25vh;
          left: 50vw;
          text-align: center;
          padding: 1vh; 
          box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
        }

       .Portfolio-Section p {
          font-size: .9em; 
        }
        
        .Portfolio-Section h2 {
          margin-bottom: 1vh;
          font-size: 1.3vw;
        
          
        }

}
